<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration> <!-- for Eclipse validation bug -->
<Configuration status="WARN">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT" ignoreExceptions="false">
			<PatternLayout pattern="%d{yyy/MM/dd HH:mm:ss.SSS} [%t] %-5level [%c.%M:%L] %msg%n%ex" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" level="warn"/>
		</Root>
		<Logger name="org.apache" level="error" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.kyojo.schemaorg" level="warn" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.kyojo" level="debug" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
	</Loggers>
</Configuration>

